{% extends 'core/base.html' %}
{% load static %}
{% block Principal %}
    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Servicios</p>
                <h1>Soluciones para el cuidado de la salud</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                            <i class="fa fa-heartbeat text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-3">Cardiología</h4>
                        <p class="mb-4">Nuestro servicio de cardiología está diseñado para cuidar de tu corazón con la máxima precisión. Ofrecemos diagnósticos avanzados, tratamientos personalizados y programas de prevención para garantizar una salud cardíaca óptima. Tu bienestar es nuestra prioridad.</p>
                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Leer Más</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                            <i class="fa fa-x-ray text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-3">Neumología</h4>
                        <p class="mb-4">En la unidad de neumología, nos especializamos en el cuidado de las enfermedades respiratorias. Con un enfoque integral, utilizamos tecnología moderna para diagnosticar y tratar problemas pulmonares, mejorando así tu calidad de vida</p>
                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Leer Más</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                            <i class="fa fa-brain text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-3">Neurología</h4>
                        <p class="mb-4">Nuestros especialistas en neurología están comprometidos con la evaluación y tratamiento de trastornos del sistema nervioso. Desde migrañas hasta enfermedades más complejas, brindamos atención personalizada y soluciones efectivas.</p>
                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Leer Más</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                            <i class="fa fa-wheelchair text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-3">Ortopedia</h4>
                        <p class="mb-4">El servicio de ortopedia está orientado a mejorar tu movilidad y aliviar el dolor articular y óseo. Contamos con tratamientos avanzados y un equipo experto que te ayudará a retomar tus actividades con confianza</p>
                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Leer Más</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                            <i class="fa fa-tooth text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-3">Cirugía Dental</h4>
                        <p class="mb-4">Nuestra unidad de cirugía dental combina tecnología de vanguardia con la experiencia de nuestros profesionales para realizar procedimientos seguros y efectivos. Nos esforzamos por garantizar tu salud bucal y una sonrisa radiante.</p>
                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Leer Más</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                            <i class="fa fa-vials text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-3">Laboratorio Clínico</h4>
                        <p class="mb-4">En nuestro laboratorio clínico, ofrecemos análisis precisos y confiables para apoyar diagnósticos médicos rápidos. Garantizamos resultados exactos con un equipo altamente capacitado y tecnología de última generación.</p>
                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Leer Más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
{% endblock %}